<% user_url = user_path(obj.creator.slug) %>
<% created_at = " #{display_datetime(obj.created_at)}" %>

<p><small class="text-muted"><%= link_to(obj.creator.username, user_url)%></small></p>
<p><small class="text-muted"><%= created_at %></small></p>
